{#
/**
 * @file
 * Default theme implementation for the newsletter form.
 *
 * Available variables:
 * - subtitle: The form subtitle.
 * - form: The newsletter subscription form.
 *
 * @ingroup themeable
 */
#}
<div class="mailrelay-newsletter-form">
    {% if subtitle %}
        <div class="mrn-subtitle">
            {{ subtitle }}
        </div>
    {% endif %}
    {% if form %}
        {{ form }}
    {% endif %}
</div>
